<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingdee.dao.CustomerInspurMapper" >
  <resultMap id="BaseResultMap" type="com.kingdee.model.po.Customer" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="vfid" property="vfid" jdbcType="VARCHAR" />
    <result column="vgsdm" property="vgsdm" jdbcType="VARCHAR" />
    <result column="vkhbm" property="vkhbm" jdbcType="VARCHAR" />
    <result column="vkhmc" property="vkhmc" jdbcType="VARCHAR" />
    <result column="vszgj" property="vszgj" jdbcType="VARCHAR" />
    <result column="vszss" property="vszss" jdbcType="VARCHAR" />
    <result column="vkhfldm" property="vkhfldm" jdbcType="VARCHAR" />
    <result column="dcjrq" property="dcjrq" jdbcType="DATE" />
    <result column="dxgrq" property="dxgrq" jdbcType="DATE" />
  </resultMap>
</mapper>