<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingdee.dao.MaterialInspurMapper" >
  <resultMap id="BaseResultMap" type="com.kingdee.model.po.Material" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="vfid" property="vfid" jdbcType="VARCHAR" />
    <result column="vgsdm" property="vgsdm" jdbcType="VARCHAR" />
    <result column="vwlbm" property="vwlbm" jdbcType="VARCHAR" />
    <result column="vwlmc" property="vwlmc" jdbcType="VARCHAR" />
    <result column="vgg" property="vgg" jdbcType="VARCHAR" />
    <result column="vwlfl" property="vwlfl" jdbcType="VARCHAR" />
    <result column="vjldw" property="vjldw" jdbcType="VARCHAR" />
    <result column="dcjrq" property="dcjrq" jdbcType="DATE" />
    <result column="dxgrq" property="dxgrq" jdbcType="DATE" />
  </resultMap>
</mapper>